{% extends "../base.html" %}
{% block content %}
    <div>
        <h2>Endre passord:</h2>
    </div>

    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        
                        {% csrf_token %}
                        <br>
                        {{ password_form }}
                        
                    </div>
                </div>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-dark btn-lg" style="background-color:#0d6efd; color: white">Lagre passord</button>
        </form>
    </div>
{% endblock content %}
